{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отель БРС: Наши номера</title>
    <link rel="stylesheet" href="{% static 'Hotel/css/styles_list.css' %}">
</head>
<header>
    <div class="container">
        <h1>Отель "БРС"</h1>
        <nav>
            <a href="{% url 'Hotel:ApartmentList' %}"><i class="back_button">Назад</i></a>
            <ul>
                <li><a href="{% url 'Hotel:BookingList' %}">Главная</a></li>
                <li><a href="#">Номера</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <div>
        <div class="greeting">
            <h1>Отель БРС: Наши номера</h1>
        </div>
        <div>
            <form id="booking-form" action="#" method="POST">
                {% for apart_type, apart_url, apart_description in apartment_list %}
                <div class="room, container">
                    <h2><a href="{{apart_url}}">{{apart_type}}</a></h2>
                    <p>{{apart_description}}</p>
                    <p><strong>Удобства:</strong> Односпальная кровать, ванная комната, кондиционер, бесплатный Wi-Fi, телевизор.</p>
                </div>
                {% endfor %}
            </form>
        </div>

        <!-- <div class="room">
            <h2><a href="#room2">Просторный двухместный номер</a></h2>
            <p>Просторный номер с двуспальной кроватью, идеальный для пары или семьи.</p>
            <p><strong>Удобства:</strong> Двуспальная кровать, ванная комната, балкон, кондиционер, бесплатный Wi-Fi, мини-бар.</p>
        </div>

        <div class="room">
            <h2><a href="#room1">Продвинутый одноместный номер</a></h2>
            <p>Номер с двуспальной кроватью, и дополнительными удобствами.</p>
            <p><strong>Удобства:</strong> Двуспальная кровать, ванная комната, кондиционер, минибар, бесплатный Wi-Fi, телевизор.</p>
        </div>

        <div class="room">
            <h2><a href="#room1">Номер-студия</a></h2>
            <p>Номер с большой комнатой и кухней, идеальный для полного удобства одной семьи.</p>
            <p><strong>Удобства:</strong> Несколько двуспальных кроватей, ванная комната, кондиционер, бесплатный Wi-Fi, телевизор.</p>
        </div>

        <div class="room">
            <h2><a href="#room1">Номер-делюкс</a></h2>
            <p>Самый продвинутый номер в гостинице, выход на балкон, минибар, несколько комнат, allinclusive, и прочее прочее.</p>
            <p><strong>Удобства:</strong> Всё, что душа только пожелает.</p>
        </div> -->
    </div>
</body>
<footer>
    <div class="container">
        <p>&copy; 2024 Отель "БРС". Все права защищены (или нет).</p>
    </div>
</footer>
</html>
