{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отель "БРС"</title>
    <link rel='stylesheet' href='https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css'>
    <link rel='stylesheet' href='https://raw.githack.com/SochavaAG/example-mycode/master/pens/slick-slider/plugins/slick/slick.css'>
    <link rel="stylesheet" href="{% static 'Hotel/css/styles.css' %}">
</head>
<header>
    <div class="container">
        <h1>Отель "БРС"</h1>
        <nav>
            {% if user.is_authenticated %}
            <ul class="list_accounts">
            {% if user.is_staff %}
                <li class="backButton"><a href="{% url 'Hotel:BookingList' %}">{{user}}(администратор)</a></li>
            {% else %}
                <li class="backButton"><a href="{% url 'Hotel:BookingList' %}">{{user}}</a></li>
            {% endif %}
                <li class="backButton"><a href="{% url 'account_logout' %}">Выход</a></li>
            {% else %}
            <ul class="list_accounts">
                <li class="backButton"><a href="{% url 'account_login' %}">Войти</a></li>
                <li class="backButton"><a href="{% url 'account_signup' %}">Зарегестрироваться</a></li>
            </ul>
            {% endif %}
            <ul>
                <li><a href="{% url 'Hotel:MainPage' %}">Главная</a></li>
                <li><a href="{% url 'Hotel:ApartmentList' %}">Номера</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    {% if user.is_authenticated %}
    <main>
        <section class="hero">
            <div class="apartment_container">
                <h1 class="h2Class">{{apartment_type}}</h1>
                <!-- <h2 class="h2Class">Стандартная комната</h2> -->
                <p>{{apartment_description}}</p>
            </div>
        </section>
        <section class="booking-form">
            <div class="container">
                <h2 class="register_room">Забронируйте номер</h2>
                <form id = 'booking-form' action="#" method="POST">

                    {% csrf_token %}

                    <label for="id_date_reg">Дата заезда:</label>
                    <input type="datetime-local" id="id_date_reg" name="date_reg" required>

                    <label for="id_date_end">Дата выезда:</label>
                    <input type="datetime-local" id="id_date_end" name="date_end" required>

                    <label for="guests">Количество гостей:</label>
                    <input type="number" id="guests" name="guests" min="1" required>
                    <!-- <label for="room-type">Тип номера:</label> -->
                    <!-- <select id="room-type" name="room-type" required>
                        <option value="standard">Стандарт</option>
                        <option value="bedroom">Койко-место</option>
                        <option value="superior">Суприм-номер</option>
                        <option value="studio">Студия</option>
                        <option value="deluxe">Делюкс</option>
                    </select> -->

                    <button type="submit">Забронировать</button>
                </form>

                <!-- <h2>Django Form</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Потвердить</button>
                </form> -->
            </div>
        </section>
    </main>
    {% else %}
    <div class="greeting">
        <h1>Вы не зарегестрированы</h1>
        <h2>Чтобы просмотреть забронированные номера, необходимо войти в аккаунт</h2>
      </div>
      {% endif %}
</body>
<footer>
    <div class="container">
        <p>&copy; 2024 Отель "БРС". Все права защищены (или нет).</p>
    </div>
</footer>
</html>
