{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css'>
  <link rel='stylesheet' href='https://raw.githack.com/SochavaAG/example-mycode/master/pens/slick-slider/plugins/slick/slick.css'>
  <link rel="stylesheet" href="{% static 'Hotel/css/styles_list.css' %}">
  <title>Забронированные номера</title>
</head>
<header>       
  <div class="container">
    <h1>Отель "БРС"</h1>
    <nav>
      {% if user.is_authenticated %}
      <ul class="list_accounts">
      {% if user.is_staff %}
          <li class="backButton"><a href="{% url 'Hotel:BookingList' %}">{{user}}(администратор)</a></li>
      {% else %}
          <li class="backButton"><a href="{% url 'Hotel:BookingList' %}">{{user}}</a></li>
      {% endif %}
          <li class="backButton"><a href="{% url 'account_logout' %}">Выход</a></li>
      {% else %}
      <ul class="list_accounts">
          <li class="backButton"><a href="{% url 'account_login' %}">Войти</a></li>
          <li class="backButton"><a href="{% url 'account_signup' %}">Зарегестрироваться</a></li>
      </ul>
      {% endif %}
      <ul>
          <li><a href="{% url 'Hotel:MainPage' %}">Главная</a></li>
          <li><a href="{% url 'Hotel:ApartmentList' %}">Номера</a></li>
      </ul>
  </nav>
  </div>
</header>
<body>
  {% if user.is_authenticated %}
  <div class="greeting">
    <h1>Добро пожаловать, {{user}}!</h1>
    <h2>Ваши забронированные номера</h2>
  </div>
  <div class="booking_list">
    {% for booking in booking_list %}
    <ul class="room-list, container">
      <li>
        <h3>{{booking.get_apartment_type}}</h3>
        <p>Забронировано с: {{booking.date_reg}}</p>
        <p>Забронировано по: {{booking.date_end}}</p>
        <p>Количество спальных мест: {{booking.room.count_beds}}</p>
        <p>Вместимость: {{booking.room.capacity}}</p>
        <div class="cancel"><a href="{{booking.cancel_booking}}">Отменить бронь</a></div>
      </li>
    </ul>
  </div>
  {% endfor %}
  {% else %}
  <div class="greeting">
    <h1>Вы не зарегестрированы</h1>
    <h2>Чтобы просмотреть забронированные номера, необходимо войти в аккаунт</h2>
  </div>
  {% endif %}
</body>
<footer>
  <div class="container">
      <p>&copy; 2024 Отель "БРС". Все права защищены (или нет).</p>
  </div>
</footer>
</html>
